@model dynamic
@{
    View.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<ul>
@foreach (var product in Model.Products)
{
    // Note how we can use the customer "Url" property here.
    // It's provided by Bandage's magic.
    <li><a href="@product.Url">@product.Name</a></li>
}
</ul>