@model dynamic
@{
    View.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<ul>
@foreach (var customer in Model.Customers)
{
    // Note how we can use the customer "Url" property here.
    // It's provided by Bandage's magic.
    <li><a href="@customer.Url">@customer.Name</a></li>
}
</ul>